/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/04/2017, 02:28:42 AM
    Author     : luis
*/

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  

 #header_img {
    background-image: url("../imagenes/cele_unam_02.png");
    background-color: #2D2357;
    background-repeat: no-repeat;
    height: 103px;
    margin: 0px;
 }
 
 nav{
    background-color: #2D2357;
    height: 40px;
    font-weight: bold;
    line-height: 30px
 }
 
 nav a{
     font-size: small !important;
 }
 
 footer{
    background: rgba(16,160,231,1);
    background: -moz-linear-gradient(left, rgba(16,160,231,1) 0%, rgba(1,126,198,1) 25%, rgba(25,102,175,1) 48%, rgba(46,35,87,1) 71%, rgba(46,35,87,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(16,160,231,1)), color-stop(25%, rgba(1,126,198,1)), color-stop(48%, rgba(25,102,175,1)), color-stop(71%, rgba(46,35,87,1)), color-stop(100%, rgba(46,35,87,1)));
    background: -webkit-linear-gradient(left, rgba(16,160,231,1) 0%, rgba(1,126,198,1) 25%, rgba(25,102,175,1) 48%, rgba(46,35,87,1) 71%, rgba(46,35,87,1) 100%);
    background: -o-linear-gradient(left, rgba(16,160,231,1) 0%, rgba(1,126,198,1) 25%, rgba(25,102,175,1) 48%, rgba(46,35,87,1) 71%, rgba(46,35,87,1) 100%);
    background: -ms-linear-gradient(left, rgba(16,160,231,1) 0%, rgba(1,126,198,1) 25%, rgba(25,102,175,1) 48%, rgba(46,35,87,1) 71%, rgba(46,35,87,1) 100%);
    background: linear-gradient(to right, rgba(16,160,231,1) 0%, rgba(1,126,198,1) 25%, rgba(25,102,175,1) 48%, rgba(46,35,87,1) 71%, rgba(46,35,87,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10a0e7', endColorstr='#2e2357', GradientType=1 );
 }

.parallax-container{
    height: 150px;    
}

.nav-wrapper > a{
    margin-left: 10px; 
    width: 300px!important;
}

.nav-wrapper > a:hover{
    background: gray;
}

#dropdown2{
    margin-left: 10px; 
    width: 200px!important;
}
