/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/04/2017, 02:28:42 AM
    Author     : luis
*/



#azul {
    margin: 20px auto;
    height: 400px;
    width: 100% !important;
}

.carousel-item{
    margin: auto;
    height: 400px;
    width: 800px!important
}

/*
	Estas clases son importantes para que a cada slider le agreges la clase y el background que quieras poner en 
	cada Card, algo importante a notar es que tienen un height fijo, por lo que ten cuidado a la hora colocar 
	tus imágenes, para que el "height" lo ajustes al tamaño de tus imágenes. 
*/
.imagen-idioma {
	min-height: 200px;
	max-height:  600px;
	height: 400px;
	width: 100%;
}

.indicadores{
    text-align: center;
}
