/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/04/2017, 02:28:42 AM
    Author     : luis
*/

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  
 header {
     /*background-color: #1a237e;
     background-image: url("../imagenes/cele_unam_02.png");
     background-repeat: no-repeat;*/
     height: 103px
 }
 
 nav{
     background-color: #2D2357;
     height: 103px
 }
 
 ul{
     font-size: 10pt;  
 }
 
 aside{
     float: left;
 }
 
 footer{
    height: 40px;
    background: rgba(16,160,231,1);
    background: -moz-linear-gradient(left, rgba(16,160,231,1) 0%, rgba(1,126,198,1) 25%, rgba(25,102,175,1) 48%, rgba(46,35,87,1) 71%, rgba(46,35,87,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(16,160,231,1)), color-stop(25%, rgba(1,126,198,1)), color-stop(48%, rgba(25,102,175,1)), color-stop(71%, rgba(46,35,87,1)), color-stop(100%, rgba(46,35,87,1)));
    background: -webkit-linear-gradient(left, rgba(16,160,231,1) 0%, rgba(1,126,198,1) 25%, rgba(25,102,175,1) 48%, rgba(46,35,87,1) 71%, rgba(46,35,87,1) 100%);
    background: -o-linear-gradient(left, rgba(16,160,231,1) 0%, rgba(1,126,198,1) 25%, rgba(25,102,175,1) 48%, rgba(46,35,87,1) 71%, rgba(46,35,87,1) 100%);
    background: -ms-linear-gradient(left, rgba(16,160,231,1) 0%, rgba(1,126,198,1) 25%, rgba(25,102,175,1) 48%, rgba(46,35,87,1) 71%, rgba(46,35,87,1) 100%);
    background: linear-gradient(to right, rgba(16,160,231,1) 0%, rgba(1,126,198,1) 25%, rgba(25,102,175,1) 48%, rgba(46,35,87,1) 71%, rgba(46,35,87,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10a0e7', endColorstr='#2e2357', GradientType=1 );
 }

 .input-field{
     width: 500px;
 }
 
 table{
     position: relative;
     left: 20%;
     max-width: 700px;
 }
 
 
 #as{
     float: left;
     background: green
 }
 
 .container{
     float:right;
 }
 

 
.carousel-slider {
    position: absolute;
    left: 15% !important;
    top: 20% !important;
    height: 400px !important;
    width: 900px !important;
}


aside{
    position: fixed;
    left: 90% !important;
    top: 15% !important;
    height: 900px !important;
    width: 150px !important;
    background: #2D2357;
}
 
aside a{
    color : white !important;
    font-size: 11pt !important;
    padding: 10px;
}

#dropdown2{
    width: 180px !important;
}

form{
    position: absolute;
    left: 350px;
    top: 200px
}

 