/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/04/2017, 02:28:42 AM
    Author     : luis
*/

 
 table{
     position: relative;
     left: 20%;
     max-width: 700px;
 }

 form{
    position: absolute;
    left: 350px;
    top: 200px
}

.input-field{
    width: 500px;
}