<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
                           http://www.springframework.org/schema/security
                           http://www.springframework.org/schema/security/spring-security-4.1.xsd">

<!-- Se especifica la ruta del archivo que tendra los datos de la conexión a la BD,
     en este caso el archivo se llama database.properties y se encuentra dentro de 
     la carpeta WEB-INF -->
     <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" p:location="/WEB-INF/database.properties"/>

    <!--  Bean que realiza la conexión a la BD usando la informacion de database.properties-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"
        p:driverClassName="${jdbc.driverClassName}"
        p:url="${jdbc.url}"
        p:username="${jdbc.username}"
        p:password="${jdbc.password}"/>
    
    <bean id="hibernate4AnnotatedSessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="annotatedClasses">
            <list>
                <!--Clases para el mapeo-->
                <value>Mapeo.Estudiante</value>
                <value>Mapeo.Alumno</value>
                <value>Mapeo.Trabajador</value>
                <value>Mapeo.Idioma</value>
                <value>Mapeo.Grupo</value>
                <value>Mapeo.Inscripcion</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">false</prop>
            </props>
        </property>
    </bean>
    
    <!--java mail-->
     <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.gmail.com" />
        <property name="port" value="587"/>
        <!--MAIL PARA ENVIAR NOTIFICACIONES-->
        <property name="username" value="pon_una_direccion@gmail.com" />
        <property name="password" value="contrasenia" />
        <property name="defaultEncoding" value="UTF-8" />
 
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.debug">true</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>
            </props>
        </property>
    </bean>
    
    <!--  Se agrega para poder inyectarlo a los Controladores, revisa EjemploController.java
          en el paquete controlador, se esta haciendo uso de @Autowiring-->
    <!--Ejemplo para configurar bean-->
    <bean id="EstudianteDAO" class="Modelo.EstudianteDAO" p:sessionFactory-ref="hibernate4AnnotatedSessionFactory"/>
    <bean id="AlumnoDAO" class="Modelo.AlumnoDAO" p:sessionFactory-ref="hibernate4AnnotatedSessionFactory"/>
    <bean id="TrabajadorDAO" class="Modelo.TrabajadorDAO" p:sessionFactory-ref="hibernate4AnnotatedSessionFactory"/>
    <bean id="IdiomaDAO" class="Modelo.IdiomaDAO" p:sessionFactory-ref="hibernate4AnnotatedSessionFactory"/>
    <!-- SpringSecurity -->

    <security:http pattern="/css/*" security="none"/>
    <security:http pattern="/imagenes/*" security="none"/>
    <security:http pattern="/js/*" security="none"/>
      
    <security:http auto-config='true'>
        <security:intercept-url pattern="/" access="permitAll" />
        <security:intercept-url pattern="/estudiante/*" access="hasRole('ESTUDIANTE')" />
        <security:form-login login-page="/"
                             authentication-failure-url="/iniciarSesion?login_error=1"
                             default-target-url="/index?login_succes=1"
                             always-use-default-target="true"/>
        <security:csrf disabled="true"/>
        <security:access-denied-handler error-page="/error403" />
        <security:logout logout-success-url="/index"
                         delete-cookies="JSESSIONID"/>
    </security:http>
    
    <security:authentication-manager>
        <security:authentication-provider>
            <security:password-encoder hash="bcrypt" />
            <security:jdbc-user-service data-source-ref="dataSource" 
             users-by-username-query= "select a.cuenta,e.contrasenia,1 from alumno a inner join estudiante e  on (a.idEstudiante = e.idEstudiante) where a.cuenta = ?;"
             authorities-by-username-query="select a.cuenta,e.rol from alumno a inner join estudiante e  on (a.idEstudiante = e.idEstudiante) where  a.cuenta = ?;"
            />
        </security:authentication-provider>
    </security:authentication-manager>

    <!-- SpringSecurity -->
   
</beans>